################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TurtleProject/obj
/.vs/TurtleProject
