################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TurtleProject/obj
/.vs/TurtleProject
/TurtleProject/bin/Debug/netcoreapp3.1
